<section class="barbers" id="barbers">
    <div class="container">
        <p class="barbers-pre-title pre-title">
            For true enjoyers of the atmosphere
        </p>
        <h2 class="barbers-title title">Our barbers</h2>
        <ul class="barbers-list list">
            <li class="barbers-item">
                <picture>
                    <source srcset="../img/barbers1-desktop.jpg 1x, ../img/barbers1-desktop@2x.jpg 2x" media="(min-width:1200px)">

                    <source srcset="../img/barbers1-tablet.jpg 1x, ../img/barbers1-tablet@2x.jpg 2x" media="(min-width:768px)">

                    <source 
                    srcset="../img/barbers1.jpg 1x, ../img/barbers1@2x.jpg 2x" media="(min-width:480px)">
                    
                <img src="../img/barbers-img-1.jpg" alt="barber picture"  height="346" />
                </picture>
                <div class="barbers-containe">
                    <h3 class="barbers-item-title">John Smith</h3>
                    <p class="barbers-item-text">Extreme Barber</p>
                    <ul class="soc-list list">
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-instagram-2">
                                        <use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-twitter-1"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-facebook-1"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-linkedin-1"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="barbers-item">
                <picture>
                    <source srcset="../img/barbers2-desktop.jpg 1x, ../img/barbers2-desktop@2x.jpg 2x" media="(min-width:1200px)">
                
                    <source srcset="../img/barbers2-tablet.jpg 1x, ../img/barbers2-tablet@2x.jpg 2x" media="(min-width:768px)">
                
                    <source srcset="../img/barbers2.jpg 1x, ../img/barbers2@2x.jpg 2x" media="(min-width:480px)">
                <img src="../img/barbers-img-2.jpg" alt="barber picture"  height="346" />
                </picture>
                <div class="barbers-containe">
                    <h3 class="barbers-item-title">Michele Doe</h3>
                    <p class="barbers-item-text">Extreme Barber</p>
                    <ul class="soc-list list">
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-instagram-2">
                                        <use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-twitter-1"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-facebook-1"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-linkedin-1"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="barbers-item">
                <picture>
                    <source srcset="../img/barbers3-desktop.jpg 1x, ../img/barbers3-desktop@2x.jpg 2x" media="(min-width:1200px)">
                
                    <source srcset="../img/barbers3-tablet.jpg 1x, ../img/barbers3-tablet@2x.jpg 2x" media="(min-width:768px)">
                
                    <source srcset="../img/barbers3.jpg 1x, ../img/barbers3@2x.jpg 2x" media="(min-width:480px)">
                <img src="../img/barbers-img-3.jpg" alt="barber picture"  height="346" />
                </picture>
                <div class="barbers-containe">
                    <h3 class="barbers-item-title">Alan Black</h3>
                    <p class="barbers-item-text">Extreme Barber</p>
                    <ul class="soc-list list">
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-instagram-2">
                                        <use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-twitter-1"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-facebook-1"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="soc-item">
                            <a class="soc-link" href="">
                                <svg class="soc-svg" width="20" height="20">
                                    <use href="../img/symbol-defs.svg#icon-linkedin-1"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>