<section class="benefits">
    <div class="benefits-container container">
        <ul class="benefits-list list">
            <li class="benefits-item">
                <span>600</span>
                <p class="benefits-item-text">Satisfied customers per day</p>
            </li>
            <li class="benefits-item">
                <span>50</span>
                <p class="benefits-item-text">Awards for excellent service</p>
            </li>
            <li class="benefits-item">
                <span>20</span>
                <p class="benefits-item-text">Kyiv’s best barbers</p>
            </li>
            <li class="benefits-item">
                <span>100</span>
                <p class="benefits-item-text">Gifts for regular customers</p>
            </li>
        </ul>
        <div>
            <p class="benefits-pre-title pre-title">Old traditional school</p>
            <h2 class="benefits-title title">¿Why people come to us?</h2>
            <p class="benefits-after-title">
                Only good things are said about us. But it's better to see and feel 1
                time than read 10 times.
            </p>
        </div>
    </div>
</section>