<section class="gallery">
    <div class="container">
        <p class="gallery-pre-title pre-title">
            In Latin, "barba" means "beard"
        </p>
        <h2 class="hidden">Gallery</h2>
        <ul class="gallery-list list">
            <li class="gallery-item">
                <img src="../img/Rectangle 25 (1).jpg" alt="barbers gallery" width="270" height="360" />
            </li>
            <li class="gallery-item">
                <img src="../img/Rectangle 26 (1).jpg" alt="barbers gallery" width="270" height="360" />
            </li>
            <li class="gallery-item">
                <img src="../img/Rectangle 27 (1).jpg" alt="barbers gallery" width="270" height="360" />
            </li>
            <li class="gallery-item">
                <img src="../img/Rectangle 28 (1).jpg" alt="barbers gallery" width="270" height="360" />
            </li>
        </ul>
    </div>
</section>