<section class="gallery">
    <div class="container">
        <p class="gallery-pre-title pre-title">
            In Latin, "barba" means "beard"
        </p>
        <h2 class="hidden">Gallery</h2>
        <ul class="gallery-list list">
            <li class="gallery-item">
                <picture>
                    <source srcset="./img/gallery1-desktop.jpg 1x, ./img/gallery1-desktop@2x.jpg 2x" media="(min-width:1200px)">
                
                    <source srcset="./img/gallery1-tablet.jpg 1x, ./img/gallery1-tablet@2x.jpg 2x" media="(min-width:768px)">
                
                    <source srcset="./img/gallery1.jpg 1x, ./img/gallery1@2x.jpg 2x" media="(min-width:480px)">

                <img src="./img/Rectangle 25 (1).jpg" alt="barbers gallery"  height="360" />
                </picture>
            </li>
            <li class="gallery-item">
                <picture>
                    <source srcset="./img/gallery2-desktop.jpg 1x, ./img/gallery2-desktop@2x.jpg 2x" media="(min-width:1200px)">
                
                    <source srcset="./img/gallery2-tablet.jpg 1x, ./img/gallery2-tablet@2x.jpg 2x" media="(min-width:768px)">
                
                    <source srcset="./img/gallery2.jpg 1x, ./img/gallery2@2x.jpg 2x" media="(min-width:480px)">

                <img src="./img/Rectangle 26 (1).jpg" alt="barbers gallery"  height="360" />
                </picture>
            </li>
            <li class="gallery-item">
                <picture>
                    <source srcset="./img/gallery3-desktop.jpg 1x, ./img/gallery3-desktop@2x.jpg 2x" media="(min-width:1200px)">
                
                    <source srcset="./img/gallery3-tablet.jpg 1x, ./img/gallery3-tablet@2x.jpg 2x" media="(min-width:768px)">
                
                    <source srcset="./img/gallery3.jpg 1x, ./img/gallery3@2x.jpg 2x" media="(min-width:480px)">

                <img src="./img/Rectangle 27 (1).jpg" alt="barbers gallery"  height="360" />
                </picture>
            </li>
            <li class="gallery-item">
                <picture>
                    <source srcset="./img/gallery4-desktop.jpg 1x, ./img/gallery4-desktop@2x.jpg 2x" media="(min-width:1200px)">
                
                    <source srcset="./img/gallery4-tablet.jpg 1x, ./img/gallery4-tablet@2x.jpg 2x" media="(min-width:768px)">
                
                    <source srcset="./img/gallery4.jpg 1x, ./img/gallery4@2x.jpg 2x" media="(min-width:480px)">

                <img src="./img/Rectangle 28 (1).jpg" alt="barbers gallery"  height="360" />
                </picture>
            </li>
        </ul>
    </div>
</section>