<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a class="header-logo" href>
        <img src="../img/Logo.svg" alt="site logo" />
      </a>
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href>About</a>
        </li>

        <li class="header-item">
          <a class="header-link link" href="./portfolio.html">Services and prices</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#barbers">Barbers</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href>Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-tel-btn">
    <a class="header-tel link" href="tel:+380441111111">+38 044 111 11 11</a>
    <button class="header-btn btn js-open-modal" data-modal="2" type="button">Online-booking</button>
    </div>

    <button class="header-btn-ham js-open-modal"  data-modal="1" type="button">
      <svg class="header-btn-ham-svg" width="40" height="40"  >
        <use href="../img/symbol-defs.svg#icon-menu_40px"></use>
      </svg>
    </button>
  </div>
</header>