<section class="hero ">
    <div class="hero-container container">
        <div class="hero-soc">
            <ul class="hero-list list">
                <li class="hero-item">
                    <a class="hero-link link" href target="_blank" rel="noopener noreferrer nofollow">Instagram</a>
                </li>
                <li class="hero-item">
                    <a class="hero-link link" href target="_blank" rel="noopener noreferrer nofollow">Youtube</a>
                </li>
            </ul>
        </div>
        <div class="hero-wrap">
            <p class="hero-pre-title pre-title">A hair salon for men in Kyiv</p>
            <h1 class="hero-title">BarberShop</h1>
            <p class="hero-after-title">
                We are experts in trendy men’s haircuts. We work quickly, carefully
                and with style.
            </p>
        </div>
    </div>
</section>