<section class="prices">
    <div class="container">
        <p class="prices-pre-title pre-title">
            Spend your time with the best masters
        </p>
        <h2 class="prices-title title">Services and prices</h2>
        <div class="prices-content">
            <ul class="prices-list list">
                <li class="prices-item">
                    <p class="prices-item-text">Men's haircut</p>
                    <p class="prices-item-text">from 300 uah.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Beard trim</p>
                    <p class="prices-item-text">from 300 uah.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Mustache trim</p>
                    <p class="prices-item-text">from 200 uah.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Straight razor shave</p>
                    <p class="prices-item-text">from 200 uah.</p>
                </li>
            </ul>
            <ul class="prices-list list">
                <li class="prices-item">
                    <p class="prices-item-text">Trainee's haircut</p>
                    <p class="prices-item-text">from 300 uah.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Haircut under the nozzle</p>
                    <p class="prices-item-text">from 300 uah.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Children's haircut (0-12 y.o.)</p>
                    <p class="prices-item-text">from 200 uah.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Camouflage of gray hair</p>
                    <p class="prices-item-text">from 200 uah.</p>
                </li>
            </ul>
        </div>
        <button class="prices-btn btn" type="button">Online-booking</button>
    </div>
</section>