.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  align-items: center;
}
/* .header-item:not(:last-child) {
  margin-right: 40px;
} */

.header-item {
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:is(:hover, :focus) {
  color: #ff6c00;
}

/* .header-link:focus {
  color: #ff6c00;
} */

.header-tel {
  margin-left: auto;
  margin-right: auto;
  /* margin-right: 40px; */
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  color: var(--main-btn-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-btn:hover,
.header-btn:focus {
  transform: scale(1.05);
  background-color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .header-tel {
    display: none;
  }
  .header-btn {
    display: none;
  }
}
.header-btn-ham {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .header-btn-ham {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-tel-btn {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
  }
  .header-logo {
    margin-right: 59px;
  }
  .header-list {
    gap: 20px;
  }
  .header-navigation {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 131px;
  }
  .header-navigation {
    align-items: center;
  }
  .header-list {
    gap: 30px;
  }
  .header-tel-btn {
    flex-direction: row;
    gap: 43px;
  }
}
