.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 337px;
  height: 100%;
  /* max-width: 500px; */

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  display: flex;
  flex-direction: column;
  gap: 64px;

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
  padding: 118px 30px 30px 40px;

  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

/* a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
} */
.header-link-modal {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
}
.header-list-modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header-tel-modal {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
}
.header-btn-modal {
  padding: 12px 37px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: #fff;
}
.header-tel-btn-modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-link-modal {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.hero-list-modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-list-modal::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

/* MODAL 2  */

.form-field {
  position: relative;
}
.form-field:not(:last-child) {
  margin-bottom: 8px;
}
.form-title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-top: 8px;
  padding-left: 38px;
  padding-bottom: 8px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: fill var(--transition-duration-function);
}
.form-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.form-field:focus-within > .form-input {
  border-color: var(--primary-brand-color);
}

.form-field:focus-within > .modal-icon {
  fill: var(--primary-brand-color);
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
}

.form-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
}
.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.form-check {
  display: inline-flex;
  align-items: center;
}
.form-check-label {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.form-check-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
}
.form-check-input:checked + .form-check-label::before {
  background-origin: border-box;
  border-color: var(--pressed-state-color);
  background-color: var(--pressed-state-color);
  background-image: url(../img/click.svg);
}

.form-check-input:focus + .form-check-label::before {
  border-color: var(--pressed-state-color);
}
.form-link {
  color: var(--primary-brand-color);
}

.btn-send {
  display: block;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .modal {
    top: 50%;
    left: 30%;
    max-width: 500px;
  }
}
